@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root { 
    height: 100%; 
    background-color: #020617;
    color: #f8fafc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #334155;
  }

  /* Selection Color */
  ::selection {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
  }
}

@layer components {
  .glass {
    @apply backdrop-blur-md bg-surface-dim/80 border border-outline-variant/20;
  }
}
